body{
  background-image: url("https://i.pinimg.com/564x/f8/08/20/f808209c701624df11b0acab70642c98.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center; 
  color: rgb(255, 255, 255) ; 
  font-family: cursive;
  font-size: xxx-large;
  text-shadow: 2px 2px 2px #000000;
}

h2{
  text-align: center; 
  color: rgb(255, 255, 255); 
  font-family: cursive;
  font-size: x-large;
  text-shadow: 2px 2px 2px #000000;
}

.quote{
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-style: oblique; 
  font-size: x-large;
  color: rgb(31, 109, 66);  
  font-family: system-ui;
  margin: 20pt;
}

.profile{
  background-color: rgba(40, 126, 78, 0.541);
  border-style: ridge; 
  color: rgb(255, 255, 255); 
  font-size: larger; 
  border-radius: 30px; 
  font-family: cursive;
  margin: 20pt;
  text-shadow: 2px 2px 2px #000000;
  padding-right: 25px;
}

.aboutme{
  background-color: rgba(40, 126, 78, 0.541);
  border-style: ridge; 
  color: rgb(255, 255, 255); 
  font-size: larger; 
  border-radius: 30px; 
  font-family: cursive;
  padding-left: 20px;
  margin: 20pt;
  text-shadow: 2px 2px 2px #000000;
  padding-right: 25px;
}

.portfolio{
  background-color: rgb(255, 255, 255); 
  border-radius: 30px;
  text-align: center;
  margin: 20pt;
}

h4{ 
  color: rgb(31, 109, 66); 
  font-size: x-large; 
  font-family: cursive;
} 

.contacts{
  text-align: center; 
  background-color: rgba(40, 126, 78, 0.541); 
  border-radius: 30px;
  margin: 20pt;
}

img{
  filter: drop-shadow(0 0 5px rgba(90, 158, 94, 0.5));
  border-radius: 25px;
  margin-right: 1px;
  margin-bottom: 4px;
  height: 215px;
  width: 215;
}

img:hover{
  background-color: yellow; 
  opacity: 0.5;
}

.logo{
  max-width: 100%;
  border-radius: 100px;
  height: 90px;
  transition: transform 0.2s;
}

.logo:hover{
  background-color: rgba(255, 255, 255, 0); 
  transform: scale(1.1);
  opacity: 1.0;
}
